.body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}


/*-----------------Home Page Styling--------------*/

h2,
h4 {
    text-align:center;
}
h4 a{
    color: white;
}

/* Below adjusts the heigth of the caroursel and allows your footer to rise higher in the page */
/* .carousel{
    height:px;
} */

/* Below adjusts the image, you may want to experiment with relative sizing to match the carousel */
/* .carousel-item{
    height:900px;
    width:1440px;
}  */

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 100%; 
}

.container-box{
    min-height: 80vh;
}

/*-----------------Navigation Bar Styling--------------*/

.navbar {
    background-color: #b38600;
}

ul.navbar-nav.ml-auto li {
    margin: 0 20px;
}

ul.navbar-nav.ml-auto li a {
    color:aliceblue;
}


ul.navbar-nav.ml-auto li a:hover {
    color: black;
}

.navbar-nav.mr-auto.mt-2.mt-lg-0 li a{
    color:aliceblue;
}

.navbar-nav.mr-auto.mt-2.mt-lg-0 li a:hover{
    color:black;
}

.dropdown-menu.show{
    background-color: #b38600;
}

.fa-grin-hearts{
    color:#54b842;
}
/*---------Pagination-------------*/

.pagination{
    margin-top: 1em;
}

.pagination-action{
    margin:0 0.1em;
    display: inline-block;
    padding:0.5em;
    color:grey;
    font-size: 1.3em;
}

.pagination-action:hover{
    color:#A52A2A;
}

.pagination-number{
    background-color: cornflowerblue;
    padding: 0.5em 0.8em;
    color: aliceblue;
    border-radius: 2px;
    width: 3em;
    margin: 0.05em;
}

.pagination.number:hover, .pagination-current{
    background-color: #005ce6;
}
/*-----------------Card Styling--------------*/

.input-group {
    width:40%;
    display: block;
    margin:0 auto;
}

.card-body {
    text-align: center;
}

.form-inline {
    width:40%;
    display: block;
    margin:0 auto;
}

.card-display {
    margin: 10px;
    padding: 10px;
}

.row-cols-1, 
.row-cols-md-4 {
    margin: 10px;
    padding: 10px;
}

.mb-4 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.card-deck>.card {
  flex: 0 1 22.8% !important;
  border-radius: calc(.25rem - 1px) !important;
  margin-bottom: 25px;
  margin-top: 25px;
}
.card{
    height:100%;
}

.resize {
    width:200px;
}

.line-space{
    margin-bottom: 20px;
    margin-top: 20px;
}

/*-------------Buttons--------*/

.btn {
    background-color: cornflowerblue;
    color: black;
}

/*-----------------Animation for Icons--------------*/

.heartBeat {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  color: #cc0000;
}

.flip {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  color: #cc0000;
}

.bounceInDown {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  color: #cc0000;
}

/*-----------------Footer--------------*/

footer {
    background-color: #b38600;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 120px;
    margin: 0;
}

.social-links{
    padding-bottom: 15px;
 }
.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 21px;
    line-height: 9px;
    text-align: center;
    color:	#A52A2A;
    background-color:cornflowerblue;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     
}
.social-links li a i:hover{
     background-color: aliceblue;
}

.uppercase{
    text-transform: uppercase;
}

#footer-details{
    padding-top: 15px;
    color:aliceblue;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: cornflowerblue;
}

.label-warning[href],
.badge-warning[href] {
    background-color: aliceblue;
}

.item {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.item-description {
    min-height: 40px;
}

/*-------Media------*/

@media only screen and (max-width: 576px){
    .col-12{
        max-width: none;
    }
}

@media (min-width: 576px){
    .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0px;
    }
}

@media (min-width: 992px){
    .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 100%;
    }
}
    
