.body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}


/*-----------------Home Page Styling--------------*/

h2,
h4 {
    text-align:center;
}
h4 a{
    color: white;
}

/* Below adjusts the heigth of the caroursel and allows your footer to rise higher in the page */
/* .carousel{
    height:px;
} */

/* Below adjusts the image, you may want to experiment with relative sizing to match the carousel */
/* .carousel-item{
    height:900px;
    width:1440px;
}  */

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.image-size{
   height: 82vh;
}

/*-----------------Navigation Bar Styling--------------*/

.navbar {
    background-color: #b38600;
}

ul.navbar-nav.ml-auto li {
    margin: 0 20px;
}

ul.navbar-nav.ml-auto li a {
    color: rgba(0,0,0,.5);
}

ul.navbar-nav.ml-auto li a:hover {
    color: black;
}

.fa-grin-hearts{
    color:#54b842;
}
/*-----------------Card Styling--------------*/

.input-group {
    width:40%;
    display: block;
    margin:0 auto;
}

.card-body {
    text-align: center;
}

.form-inline {
    width:40%;
    display: block;
    margin:0 auto;
}

.card-display {
    margin: 10px;
    padding: 10px;
}

.row-cols-1, 
.row-cols-md-4 {
    margin: 10px;
    padding: 10px;
}

.mb-4 {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-left: 5%;
}

.card-deck>.card {
  flex: 0 1 22.8% !important;
  border-radius: calc(.25rem - 1px) !important;
  margin-bottom: 25px;
  margin-top: 25px;
}

/*-------------Buttons--------*/

.btn {
    background-color: cornflowerblue;
    color: black;
}



/*-----------------Footer--------------*/

footer {
    background-color: #b38600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: cornflowerblue;
}

.label-warning[href],
.badge-warning[href] {
    background-color: aliceblue;
}

.item {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.item-description {
    min-height: 40px;
}