.body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}


/*-----------------Home Page Styling--------------*/

h2,
h4 {
    text-align:center;
}

.image-size {
    height:100%;
    object-fit: cover;
}

/*-----------------Navigation Bar Styling--------------*/

.navbar {
    background-color: #7a8566;
}

ul.navbar-nav.ml-auto li {
    margin: 0 20px;
}

ul.navbar-nav.ml-auto li a {
    color: rgba(0,0,0,.5);
}

ul.navbar-nav.ml-auto li a:hover {
    color: black;
}

.fa-grin-hearts{
    color:#54b842;
}
/*-----------------Card Styling--------------*/

.text-center {
    margin: 40px;
}

.input-group {
    width:40%;
    display: block;
    margin:0 auto;
}

.card-body {
    text-align: center;
}

.form-inline {
    width:40%;
    display: block;
    margin:0 auto;
}

.row-cols-1, 
.row-cols-md-2{
    margin: 10px;
    padding: 10px;
}

.col-mb-4 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

/*-----------------Footer--------------*/

footer {
    background-color: #7a8566;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.item {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.item-description {
    min-height: 40px;
}