{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="row card-display justify-content-center">
    <div class="col mb-4">
        <div class="card-deck">
            {% for item in cart_items %}
            <div class="card cols-1 cols-md-4">
                <img src="{{ MEDIA_URL }}{{ item.item.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item.name }}</h5>
                    <p class="card-text">{{ item.item.introduction }}</p>
                    <p class="card-text">{{ item.item.price }} <i class="fas fa-euro-sign"></i></p>
                </div>
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Quantity</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">{{ item.quantity }}</div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                            </div>
                        </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>                  
</div>

<div class="row justify-content-center">
    <p>Total:</p>
    <p>{{ total }} <i class="fas fa-euro-sign"></i></p>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend style="margin: 5px;">Payment Details <i class="fas fa-hand-point-down"></i></legend>

    <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>

{% endblock %}