{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="row card-display justify-content-center">
    <div class="mb-4">
        <div class="card-deck">
            {% for item in cart_items %}
            <div class="card col-1 col-md-2">
                <img src="{{ MEDIA_URL }}{{ item.item.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item.name }}</h5>
                    <p class="card-text">{{ item.item.price }} <i class="fas fa-euro-sign"></i></p>
                </div>
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Quantity</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">{{ item.quantity }}</div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                            </div>
                        </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>                  
</div>
<div class="row-cols-1 row-cols-md-2">
    <div class="mb-4">
        <p>Total</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
</div>
{% endblock %}