{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div class="container-fluid">
        <div class="item" style="background-image: url('{{ MEDIA_URL }}{{ item.image }}')"></div>
        <div class="item-info">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <p>{{ item.price }}</p>
        </div>
        <div class="item-size "><label for="sizes">Choose your size</label>
            <select id="sizes">
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>  
            </select>
        </div>
        <form method="post" action="{% url 'add_to_cart' item.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>
        <button class="btn btn-small">Back To Products</button>
        <button class="btn btn-small">Proceed to Payment</button>
    </div>
</div>

{% endblock %}