{% extends 'base.html' %}

{% block content %}
<div class="row card-display">
    <div class="mb-4 ">
        <div class="card-deck ">
            {% for item in items %}
                <div class="col-12 col-md-4 col-lg-2 line-space">
                <div class="card">
                    <img src="{{ MEDIA_URL }}{{ item.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.introduction }}</p>
                        <p class="card-text">{{ item.price }} <i class="fas fa-euro-sign"></i></p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'item_detail' item.id %}" class="btn btn-success">View</a>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div> 
<div class="pagination justify-content-center">
    {% if items.has_previous %}
        <a href="?page1" class="pagination-action">
            <i class="fas fa-angle-double-left"></i>
        </a>
        <a href="?page={{ items.previous_page_number }}" class="pagination-action">
           <i class="fas fa-angle-left"></i> 
        </a>
    {% endif %}

    {% for num in items.paginator.page_range %}
        {% if items.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num >= items.number|add:'-2' and num <= items.number|add:'2' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num}}</a>
        {% endif %}
    {% endfor %}
    {% if items.has_next %}
        <a href="?page={{ items.next_page_number }}" class="pagination-action">
            <i class="fas fa-angle-right"></i>
        </a>
        <a href="?page={{ items.paginator.num_pages }}" class="pagination-action">
            <i class="fas fa-angle-double-right"></i>
        </a>
    {% endif %}

</div>  
{% endblock %}